<div id="mainHome">
  <div class="header">
    <h1>about the page</h1>
  </div>
  <div class="homePost">
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue
      ut. Phasellus egestas tellus rutrum tellus pellentesque eu. Viverra tellus
      in hac habitasse platea dictumst vestibulum. Convallis aenean et tortor at
      risus viverra adipiscing at. Sodales ut etiam sit amet nisl purus. Porta
      non pulvinar neque laoreet suspendisse interdum. Aenean euismod elementum
      nisi quis eleifend quam adipiscing. Aliquam vestibulum morbi blandit
      cursus risus at. Consequat interdum varius sit amet mattis vulputate enim
      nulla aliquet. Turpis tincidunt id aliquet risus feugiat. Malesuada proin
      libero nunc consequat interdum varius sit amet mattis. A scelerisque purus
      semper eget duis at. Sed libero enim sed faucibus turpis in eu mi
      bibendum. Aliquam vestibulum morbi blandit cursus. Condimentum lacinia
      quis vel eros donec. Pellentesque diam volutpat commodo sed egestas. In
      ante metus dictum at tempor. Tempor id eu nisl nunc mi ipsum faucibus
      vitae. Tortor aliquam nulla facilisi cras fermentum odio. Quis risus sed
      vulputate odio ut enim. Sed odio morbi quis commodo odio aenean sed
      adipiscing diam. Venenatis urna cursus eget nunc scelerisque viverra
      mauris in. Lobortis elementum nibh tellus molestie nunc. Donec ultrices
      tincidunt arcu non. Mauris nunc congue nisi vitae suscipit tellus mauris
      a. Diam in arcu cursus euismod. Ipsum dolor sit amet consectetur
      adipiscing elit duis tristique. Interdum velit laoreet id donec ultrices
      tincidunt arcu non. Nullam ac tortor vitae purus faucibus ornare
      suspendisse sed nisi. Enim nulla aliquet porttitor lacus luctus accumsan.
      Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
      lobortis feugiat.</h5>
  </div>
</div>