<div id="mainContact">
  <div class="header">
    <h1>leave your feedback here!</h1>
  </div>
  <div id="logInWindow">
    {{#if errorMessages.length}}
      {{#each errorMessages}}
        <div class="alert alert-danger" role="alert">
          {{this}}
        </div>
      {{/each}}
    {{/if}}

    {{! star review design:
    https://www.youtube.com/watch?v=Ep78KjstQuw&ab_channel=OnlineTutorials }}

    <form action="" method="post">
      <div class="starRate">
        <input type="radio" name="rate" id="rate5" value="5" />
        <label for="rate5"></label>
        <input type="radio" name="rate" id="rate4" value="4" />
        <label for="rate4"></label>
        <input type="radio" name="rate" id="rate3" value="3" />
        <label for="rate3"></label>
        <input type="radio" name="rate" id="rate2" value="2" />
        <label for="rate2"></label>
        <input type="radio" name="rate" id="rate1" value="1" />
        <label for="rate1"></label>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-user"
          ></i></span>
        <input
          id="feedbackName"
          type="text"
          class="form-control"
          name="feedbackName"
          placeholder=" first name"
          value="{{name}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-user"
          ></i></span>
        <input
          id="feedbackEmail"
          type="email"
          class="form-control"
          name="feedbackEmail"
          placeholder=" email"
          value="{{email}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="feedbackMessage"
          type="text"
          class="form-control"
          name="feedbackMessage"
          placeholder=" message..."
          value="{{feedback}}"
        />
      </div>
      <input
        id="submitButton"
        class="btn btn-outline-dark"
        type="submit"
        value="submit"
      />
    </form>
  </div>
  <div class="contactLinks">
    <h1>or find me on one of these platforms:</h1>
  </div>
  <div class="socialMedia">
    <a href="https://www.linkedin.com/" target="_blank"><img
        src="https://img.icons8.com/ios-glyphs/60/000000/linkedin.png"
      /></a>
    <a href="https://www.instagram.com/" target="_blank"><img
        src="https://img.icons8.com/ios-glyphs/60/000000/instagram-new.png"
      /></a>
  </div>
</div>