<div id="mainContact">
  <div class="header">
    <h1>contact page</h1>
  </div>
  <div id="logInWindow">
    <form>
      <form>
        <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-user"
          ></i></span>
        <input
          id="fName"
          type="text"
          class="form-control"
          name="fName"
          placeholder=" first name"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-user"
          ></i></span>
        <input
          id="email"
          type="email"
          class="form-control"
          name="email"
          placeholder=" email"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="message"
          type="text"
          class="form-control"
          name="message"
          placeholder=" message..."
        />
      </div>
      <input id="submitButton" class="btn btn-outline-dark" type="submit" value="submit">
      </form>
  </div>

</div>