<div id="mainPosts">
  <div class="header">
    <h1>create a new post</h1>
  </div>
  <div class="homePost">
    {{#if errorMessages.length}}
      {{#each errorMessages}}
        <div class="alert alert-danger" role="alert">
          {{this}}
        </div>
      {{/each}}
    {{/if}}
    <form action="/create" method="post">
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postDate"
          type="date"
          class="form-control"
          name="postDate"
          placeholder="date"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postTitle"
          type="text"
          class="form-control"
          name="postTitle"
          placeholder=" title"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postSuccess"
          type="text"
          class="form-control"
          name="postSuccess"
          placeholder=" success"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postStruggle"
          type="text"
          class="form-control"
          name="postStruggle"
          placeholder=" struggle"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postContent"
          type="text"
          class="form-control"
          name="postContent"
          placeholder=" content..."
        />
      </div>
      <form action="/addPhoto" method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <span class="input-group-addon"><i
              class="glyphicon glyphicon-lock"
            ></i></span>
          <input
            id="postPhoto"
            type="file"
            class="form-control"
            name="postPhoto"
          />
        </div>
        <input
          id="add"
          class="btn btn-outline-primary"
          type="submit"
          value="post"
        />
      </form>
      <h5 id="signature">Alex</h5>
    </form>
  </div>
</div>