<div id="mainPosts">
  <div class="header">
    <h1>eghjgdit</h1>
  </div>
  <div class="post">
    <form action="/editPost/{{id}}" method="post">
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postTitle"
          type="text"
          class="form-control"
          name="postTitle"
          placeholder=" title"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postSuccess"
          type="text"
          class="form-control"
          name="postSuccess"
          placeholder=" success"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postStruggle"
          type="text"
          class="form-control"
          name="postStruggle"
          placeholder=" struggle"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postContent"
          type="text"
          class="form-control"
          name="postContent"
          placeholder=" content..."
        />
      </div>
      <h5 id="signature">Alex</h5>
      <input id="add" class="buttonStyle" type="submit" value="post" />
    </form>
  </div>
</div>