<div id="mainHome">
  <div class="header">
    <h1>hi, I'm Alex! welcome to my diary</h1>
  </div>
  {{#if session.isLoggedIn}}
    <p>You are logged in.</p>
  {{else}}
    <p>Not logged in</p>
  {{/if}}
  <div class="homePost">
    <h5>Nice to meet you! I created this website to share my thoughts, memories,
      and everyday things with anyone who reads this. Feel free to join me in
      this journey!</h5>
  </div>
  <div class="homePost">
    <h5>On the "posts" page you will find notes that I wrote. Each post has a
      title, 1 success of the day, 1 struggle that I encountered, and a short
      summary of my day. The newest posts will appear at the top of the page!</h5>
  </div>
  <div class="homePost">
    <h5>If you want to, you can comment on my posts simply by clicking the link
      under each note.</h5>
  </div>
  <div class="homePost">
    <h5>You can also contact me on the "contact" page! Leave your name, email
      and a message with feedback or maybe your own diary note that you wrote
      today. I would love to know how your day was as well!</h5>
  </div>
  <div class="homePost">
    <h5>Enough scrolling, see ya on the next page 👋</h5>
  </div>
</div>