/* main style */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  height: 4rem;
  border-bottom: 1px solid;
  font-size: 14px;
  font-family: Barlow;
  text-transform: uppercase;
  letter-spacing: 0.095em;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 5;
}

a {
  text-decoration: none !important;
  color: black !important;
  padding: 1% 2% 1% 2%;
}

a:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  height: 2rem;
  margin-top: 20rem;
  padding-left: 2rem;
  font-family: "Barlow";
}

p {
  margin: 0.5rem !important;
}

#logOut {
  text-decoration: none !important;
  color: black !important;
  padding: 15% 30% 15% 30%;
  letter-spacing: 0.095em;
  border: none;
  background-color: #ffffff;
}

#logOut:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

/* home page */

.header {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 5%;
  font-family: "Abril Fatface", cursive;
  justify-content: center;
}

#mainHome {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.homePost {
  width: 50%;
  border: 1px solid;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 3rem auto;
  box-shadow: 10px 10px;
}

/* posts page */

.post {
  width: 50%;
  border: 1px solid;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 1rem auto;
  box-shadow: 10px 10px;
}

.newComment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commentsSection {
  width: 50%;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 1rem auto;
}

.comment {
  margin-bottom: 1rem;
  padding: 1% 2% 0.1% 2%;
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
}

.addComment {
  display: flex;
  margin-bottom: 3rem;
  padding-left: 25%;
}

#buttonAdd {
  font-family: "Raleway";
}

#buttonAdd:hover {
  color: #ffffff !important;
}

#existingComments {
  margin-bottom: 4rem;
}

#mainPosts {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.date {
  font-weight: 200;
  font-size: 15px;
}

.title {
  font-weight: 700;
}

.struggle {
  margin-bottom: 2rem;
}

.icon {
  width: 20px;
  height: 20px;
}

.photoStyle {
  width: 100%;
}

#signature {
  display: flex;
  justify-content: right;
  font-family: "Sacramento";
  padding-right: 5%;
  font-size: 40px;
}

#noContent {
  display: flex;
  justify-content: center;
  font-family: "Raleway";
}

/* contact page */

.contactLinks {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Abril Fatface", cursive;
  justify-content: center;
}

.socialMedia {
  display: flex;
  padding-bottom: 5%;
  justify-content: center;
}

/* log in page */

form {
  margin-bottom: 0;
}

#logInWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 2rem auto;
  box-shadow: 10px 10px;
}

.inputStyle {
  width: 60%;
  border: 1px solid;
  margin-top: 0.5rem;
  font-family: "Raleway";
  font-weight: 200;
}

/* create page */

#edit {
  background-color: rgb(254, 255, 238);
}

#edit:hover {
  background-color: rgb(255, 165, 48);
  color: #ffffff;
}

#delete {
  background-color: rgb(255, 224, 224);
}

#delete:hover {
  background-color: #e15f5f;
  color: #ffffff;
}

#add {
  background-color: rgb(227, 241, 255);
}

#add:hover {
  background-color: #5f93e1;
  color: #ffffff;
}

.editing {
  display: inline-flex;
}

/* feedback page */

.starRate {
  display: flex;
  margin-bottom: 1rem;
  transform: rotateY(180deg);
  justify-content: right;
}

.starRate input {
  display: none;
}

.starRate label {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.starRate label:before {
  content: "\f005";
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 30px;
  color: rgb(217, 224, 231);
}

.starRate label:after {
  content: "\f005";
  font-family: fontAwesome;
  position: relative;
  top: -45;
  display: block;
  font-size: 30px;
  color: rgb(241, 214, 93);
  opacity: 0;
  transition: 0.2s;
  z-index: 2;
}

.starRate label:hover:after,
.starRate label:hover ~ label:after,
.starRate input:checked ~ label:after {
  opacity: 1;
}

#filter {
  display: flex;
  float: left;
  width: auto;
  margin: 0;
}

#filterButton {
  display: flex;
  float: left;
  margin: auto;
  padding: auto;
}

#filterBar {
  font-family: "Raleway";
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.starFilter {
  border: 1px solid black;
  font-family: "Raleway";
  width: auto;
  padding: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2rem;
}

.starFilter p {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: auto;
  margin-left: 0 !important;
}

/* comments page */

#goBack {
  position: absolute;
  margin: 50 50 50 50;
  font-family: Barlow;
}

/* bootstrap elements */

.btn-outline-dark {
  margin-top: 0.5rem;
}

.btn-outline-warning {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-outline-danger {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 0.5rem;
}

/* .bi-check2 {
  color: #5fe17d;
}

.bi-x-lg {
  color: #e15f5f;
} */

@media only screen and (max-width: 600px) {
  nav {
    padding-left: 2%;
    padding-right: 2%;
    height: 2rem;
    font-size: 9px;
  }

  a {
    padding: 5px;
  }

  h1 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 15px !important;
  }

  #logOut {
    padding: 5px;
  }

  /* home page */

  .header {
    padding-top: 3rem;
  }

  .homePost {
    width: 90%;
  }

  /* posts page */

  .post {
    width: 90%;
  }

  #signature {
    font-size: 50px !important;
  }

  /* contact page */

  #logInWindow {
    width: 90%;
  }

  .socialMedia {
    width: 100%;
  }
}

/* icons
<a target="_blank" href="https://icons8.com/icon/43515/done">Done icon by Icons8</a>
<a target="_blank" href="https://icons8.com/icon/43529/close">Close icon by Icons8</a>
<a target="_blank" href="https://icons8.com/icon/43719/search">Search icon by Icons8</a>
<a target="_blank" href="https://icons8.com/icon/85185/star">Star icon by Icons8</a>
*/

/* resources

star review:
https://www.youtube.com/watch?v=Ep78KjstQuw&ab_channel=OnlineTutorials

photo upload:
https://www.youtube.com/watch?v=Ep78KjstQuw&ab_channel=OnlineTutorials
*/
