/* main style */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  height: 4rem;
  border-bottom: 1px solid;
  font-size: 14px;
  font-family: Barlow;
  text-transform: uppercase;
  letter-spacing: 0.095em;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 5;
}

a {
  text-decoration: none !important;
  color: black !important;
  padding: 1% 2% 1% 2%;
}

a:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  height: 2rem;
  margin-top: 20rem;
  padding-left: 2rem;
  font-family: "Barlow";
}

p {
  margin: 0.5rem !important;
}

.errors {
  width: fit-content;
  padding: 1%;
  font-size: 12px;
  z-index: 3;
  margin: auto auto 2rem auto;
  border: 10px dotted #e15f5f;
  background-color: #f3c0c0;
  border-radius: 30px;
  font-family: "Raleway";
}

.errorTitle {
  font-size: 15;
  font-weight: 700;
}

#logOut {
  text-decoration: none !important;
  color: black !important;
  padding: 15% 30% 15% 30%;
  letter-spacing: 0.095em;
  border: none;
  background-color: #ffffff;
}

#logOut:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

/* home page */

.header {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 5%;
  font-family: "Abril Fatface", cursive;
  justify-content: center;
}

#mainHome {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.homePost {
  width: 50%;
  border: 1px solid;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 3rem auto;
  box-shadow: 10px 10px;
}

/* posts page */

.post {
  width: 50%;
  border: 1px solid;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 1rem auto;
  box-shadow: 10px 10px;
}

.newComment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commentsSection {
  width: 50%;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 1rem auto;
}

.comment {
  margin-bottom: 1rem;
  padding: 1% 2% 0.1% 2%;
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
}

.addComment {
  display: flex;
  margin-bottom: 3rem;
  padding-left: 25%;
}

#buttonAdd {
  font-family: "Raleway";
}

#buttonAdd:hover {
  color: #ffffff !important;
}

#existingComments {
  margin-bottom: 4rem;
}

#mainPosts {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.title {
  font-weight: 700;
}

.struggle {
  margin-bottom: 2rem;
}

.icon {
  width: 20px;
  height: 20px;
}

#signature {
  display: flex;
  justify-content: right;
  font-family: "Sacramento";
  padding-right: 5%;
  font-size: 40px;
}

#noContent {
  display: flex;
  justify-content: center;
  font-family: "Raleway";
}

/* log in page */

form {
  margin-bottom: 0;
}

#logInWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid;
  padding: 1rem;
  font-family: "Raleway";
  margin: 0 auto 10rem auto;
  box-shadow: 10px 10px;
}

.inputStyle {
  width: 60%;
  border: 1px solid;
  margin-top: 0.5rem;
  font-family: "Raleway";
  font-weight: 200;
}

/* create page */

#edit {
  background-color: rgb(254, 255, 238);
}

#edit:hover {
  background-color: rgb(255, 165, 48);
  color: #ffffff;
}

#delete {
  background-color: rgb(255, 224, 224);
}

#delete:hover {
  background-color: #e15f5f;
  color: #ffffff;
}

#add {
  background-color: rgb(227, 241, 255);
}

#add:hover {
  background-color: #5f93e1;
  color: #ffffff;
}

.editing {
  display: inline-flex;
}

/* comments page */

#goBack {
  position: absolute;
  margin: 50 50 50 50;
  font-family: Barlow;
}

/* bootstrap elements */

.btn-outline-dark {
  margin-top: 0.5rem;
}

.btn-outline-warning {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-outline-danger {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 0.5rem;
}

/* icons
<a target="_blank" href="https://icons8.com/icon/63111/facebook-like">Facebook Like icon by Icons8</a>
*/
